<h1>Login</h1>

<form action="/login" method="POST">
	
	<label for='email'>Email</label>
	<input id='email' name='email' type='email' placeholder='Ingresa tu correo'>

	<label for='password'>Password</label>
	<input id='password' name='password' type='password' placeholder='Ingresa tu contraseña'>

	<input type='submit' value='Login'>
        
</form>