<h1>Crea tu cuenta</h1>

<form action="/signup" method="POST">
	
  <p>
    <label for='username'>Username</label>
    <input id='username' name='username' type='username' placeholder='Ingresa tu correo'>
  </p>

	<p>
    <label for='email'>Email</label>
    <input id='email' name='email' type='email' placeholder='Ingresa tu correo'>
  </p>

	<p>
    <label for='password'>Password</label>
    <input id='password' name='password' type='password' placeholder='Ingresa tu contraseña'>
  </p>

	<input type='submit' value='Crear nuevo usuario'>
        
</form>
