<form action="/profile/edit" method="post" enctype="multipart/form-data">
<p>
  Username:
  <input type="text" name="username" id="" value="{{username}}">
</p>
<p>
  Email:
  <input type="email" name="email" id="" value="{{email}}">
</p>
<p>
  Photo:
  <input type="file" name="image" id="">
</p>

<input type="submit" value="guardar">
  
</form>